apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
data:
  mosquitto.conf: |
    listener 1883
    protocol mqtt
    allow_anonymous true

    listener 9001
    protocol websockets
    allow_anonymous true
